.top-bar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .bubble {
    width: 80%;
    height: 8vh;
    background-color: red;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    .logo-container {
      width: 80%;
      background-color: green;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .account-container {
      width: 20%;
      background-color: yellow;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
